.kanjiInput {
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.search-buttons{
  background-color: rgb(255, 0, 0);
  margin-left: 1rem;
}

.active-buttons{
  background-color: rgb(0, 255, 0);
}