.kanji-phrases {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.kanji-phrases-table{
  border-collapse: collapse;
  width: 80vw;
  min-width: 30rem;
}

.kanji-phrases-table-header{
  background-color: hsl(207, 96%, 35%);
}

.kanji-phrases-table-row{
  border-bottom: 2px solid transparent;
}

.kanji-phrases-table-row:hover{
  border-bottom: 2px solid hsl(207, 96%, 35%);
}

.kanji-phrases-table-row rt{
  opacity: 0;
}

.kanji-phrases-table-row:hover rt{
  opacity: 1;
  transform: translateX(10px);
}

.transcriptions{
  cursor: pointer;
}

td{
  padding: .4rem;
  font-size: 1.3rem;
}

rt{
  font-size: .65rem;
}